<section id="adding">
 <form action="/add" method="post">
  Adding Page
  <br><br>
  
  Label:<br>
  <input type="text" name="label">
  <br><br>
  
  Description<br>
  <input type="text" name="description">
  <br><br>
  
  Commandline<br>
  <input type="text" name="command">
  <br><br>
  
  Set active (true/false)<br>
  <input type="text" name="active">
  <br><br>
  
  <input type="submit">
 </form>
</section>

<% @programs.each do |line| %>
  label: <br>
  <%= line.id %><br>
  <%= line.label %><br>
  <%= line.description %><br>
  <%= line.command %><br>
  <%= line.active %><br><br><br>
<% end %>

